.SearchBar {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 10px 0 0 0;
    :global {
        .txt {
            border-radius: var(--radius);
            width: 500px;
            height: 30px;
            font-size: 20px;
            padding: 5px 15px;
            &::placeholder {
                color: var(--color-gray);
            }
        }
    }
}

.StaffList {
    display: flex;
    justify-content: center;
    :global {
        .wrapper {
            width: 800px;
            box-shadow: 0 10px 20px -5px black;
            .info {
                height: 30px;
                display: flex;
                justify-content: flex-start;
                font-weight: bold;
            }
            .header {
                display: flex;
                height: 35px;
                font-weight: bold;
                color: white;
                background-color: var(--color-dark-gray) !important;
                border-top: 1px solid white;
                cursor: pointer;
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        background-color: gray;
                    }
                    div.arrow {
                        display: none;
                        margin-left: 5px;
                        transform-origin: (10px, 10px);
                    }
                    div.arrow.show {
                        display: unset;
                    }
                    .up {transform: rotate(0deg);}
                    .down {transform: rotate(180deg);}
                }
                .fn {width: 160px;}
                .ln {width: 160px;}
                .gd {width: 90px;}
                .ag {width: 60px;}
                .em {flex-grow: 1;}
            }
        }
    }
}

.Staff {
    :global {
        .row {
            display: flex;
            border-bottom: 1px solid white;
            background-color: rgb(46, 46, 46);
            transition: .2s;
            cursor: pointer;
            > div {
                transition: .2s;
                padding: 8px 15px;
            }
            .fn {width: 160px;}
            .ln {width: 160px;}
            .gd {width: 90px;}
            .ag {width: 60px;}
            .em {flex-grow: 1;}
        }
        .row:not(.header) {
            &:hover {
                border-radius: var(--radius);
                transform: translateY(-5px);
                box-shadow: 0 0 0 3px var(--color-main);
            }
        }
    }
}

.Loading {
    display: flex;
    justify-content: center;
    :global {
        .content {
            z-index: 101;
            position: absolute;
            top: 45%;
            display: flex;
            justify-content: space-between;
            width: 250px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: var(--radius);
            padding: 20px 30px;
            .txt {
                line-height: 60px;
                font-size: 30px;
            }
            .turn {
                font-size: 50px;
                animation-name: rotate;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
    }
}

.StaffInfo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 100%;
    :global {
        
    }
}