.SearchBar {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 10px 0 0 0;
    :global {
        .txt {
            border-radius: var(--radius);
            width: 500px;
            height: 30px;
            font-size: 20px;
            padding: 5px 15px;
            &::placeholder {
                color: var(--color-gray);
            }
        }
    }
}

.SearchList {
    display: flex;
    justify-content: center;
    :global {
        .wrapper {
            box-shadow: 0 10px 20px -5px black;
            .header {
                font-weight: bold;
                color: white;
                background-color: var(--color-dark-gray) !important;
                border-top: 1px solid white;
                > div {
                    display: flex;
                    justify-content: center;
                    &:hover {
                        background-color: gray;
                    }
                    div.arrow {
                        display: none;
                        margin-left: 5px;
                        transform-origin: (10px, 10px);
                    }
                    div.arrow.show {
                        display: unset;
                    }
                    .up {transform: rotate(0deg);}
                    .down {transform: rotate(180deg);}
                }
            }
            .row {
                display: flex;
                border-bottom: 1px solid white;
                background-color: rgb(46, 46, 46);
                width: 800px;
                transition: .2s;
                cursor: pointer;
                > div {
                    transition: .2s;
                    padding: 8px 15px;
                }
            }
            .row:not(.header) {
                &:hover {
                    border-radius: var(--radius);
                    transform: translateY(-5px);
                    box-shadow: 0 0 0 3px var(--color-main);
                }
            }
        }
    }
}

.Loading {
    display: flex;
    justify-content: center;
    :global {
        .modal {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .dots {
            z-index: 101;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 40%;
            width: 120px;
            height: 120px;
            border: 2px solid yellow;
            // animation-name: rotate;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            > div {
                position: absolute;
                top: 0;
                width: 15px;
                height: 15px;
                background-color: var(--color-main);
                border-radius: 50px;
            }
            .d1 {transform: rotate(calc(45 * 1)deg);}
            .d2 {transform: rotate(calc(45 * 2)deg);}
            .d3 {transform: rotate(calc(45 * 3)deg);}
            .d4 {transform: rotate(calc(45 * 4)deg);}
            .d5 {transform: rotate(calc(45 * 5)deg);}
            .d6 {transform: rotate(calc(45 * 6)deg);}
            .d7 {transform: rotate(calc(45 * 7)deg);}
            .d8 {transform: rotate(calc(45 * 8)deg);}
        }
    }
}