:root {
    --color-main: rgb(2, 231, 124);
    --color-dark-main: rgb(0, 153, 82);
    --color-gray: rgb(175, 175, 175);
    --color-dark-gray: rgb(110, 110, 110);
    --radius: 7px;
    --shadow: 0 0 20px -10px black;
}

*, *:focus, *:hover{
    outline:none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#App {
    background-color: rgb(54, 54, 54);
    min-height: 100vh;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: var(--radius);
    background-color: var(--color-main);
    transition: .2s;
    cursor: pointer;
    &:hover {
        background-color: var(--color-dark-main);
    }
}