:root {
    --color-main: rgb(2, 231, 124);
    --color-dark-main: rgb(0, 153, 82);
    --color-gray: rgb(175, 175, 175);
    --color-dark-gray: rgb(110, 110, 110);
    --radius: 7px;
    --shadow: 0 0 20px -10px black;
}

*, *:focus, *:hover{
    outline:none;
}

div {
    -ms-user-select: none;
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#App {
    background-color: rgb(54, 54, 54);
    min-height: 100vh;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: var(--radius);
    background-color: var(--color-main);
    transition: .2s;
    cursor: pointer;
    &:hover {
        background-color: var(--color-dark-main);
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}  
}